.banner {
  width: 100%; 
  max-width: 2000px; 
}
#Banner {
  width: 100%; 
  height: 250px;
}
@font-face {
  font-family: "Bout";
  src: url("/Estilos/Fuentes/Bout.otf") format('opentype');
}
