@font-face {
  font-family: "Bout Regular";
  src: url("./Fuentes/Bout-Regular.otf") format("opentype");
}

#info{
	font-family: "Bout Regular", monospace;
	width: 50%;
	text-align: justify;
	margin-left: 25%;
	color: white;
	font-size: 30px;
}

#infoTabla{
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: "Bout Regular", monospace;
	width: 64%;
	text-align: justify;
	margin-left: 18%;
	color: white;
	font-size: 25px;
}

#infoImage1{
	border: 5px solid #f2eded;
	border-radius: 7px;
	width: 80%;
	display: block;
  	margin-left: 10%;
}

#infoImage2{
	border: 5px solid #f2eded;
	border-radius: 7px;
	width: 80%;
	display: block;
  	margin-left: 10%;
}

#infoImage3{
	border: 5px solid #f2eded;
	border-radius: 7px;
	width: 80%;
	display: block;
  	margin-left: 10%;
}

#infoImage4{
	border: 5px solid #f2eded;
	border-radius: 7px;
	width: 80%;
	display: block;
  	margin-left: 10%;
}

#decoImage{
	width: 50%;
	margin-top: 20px;
	margin-left: 25%;
	margin-bottom: -12.5px;
}

#hrDeco{
	width: 60%;
	align: center;
	height: 5px;
	background-color: whitesmoke;
	border-radius: 10px;
	border-color: whitesmoke;
	margin-top: 0px;
}

hr{
	width: 60%;
	align: center;
	height: 5px;
	background-color: whitesmoke;
	border-radius: 10px;
	border-color: whitesmoke;
}